<header class="header shop">

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">

                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +070 (460) 532-654</li>
                            <li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="20535550504f5254604558414d504c450e434f4d">[email&#160;protected]</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 col-12">

                    <div class="right-content">
                        <ul class="list-main">
                            <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
                            <li><i class="ti-user"></i> <a href="#">My account</a></li>
                            <li><i class="ti-power-off"></i><a href="login.html">Login</a></li>
                            <li>
                                <div class="dropdown top-dropdown">
                                    <a href="#" id="lang" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti-world"></i> EN <i class="fal fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="lang">
                                        <a class="dropdown-item" href="#"><i class="ti-world"></i> EN</a>
                                        <a class="dropdown-item" href="#"><i class="ti-world"></i> RU</a>
                                        <a class="dropdown-item" href="#"><i class="ti-world"></i> GE</a>
                                        <a class="dropdown-item" href="#"><i class="ti-world"></i> HK</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown top-dropdown">
                                    <a href="#" id="payment" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fal fa-dollar-sign"></i> USD <i class="fal fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="payment">
                                        <a class="dropdown-item" href="#"><i class="fal fa-dollar-sign"></i> USD</a>
                                        <a class="dropdown-item" href="#"><i class="fal fa-euro-sign"></i> EUR</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">

                    <div class="logo">
                        <a href="index.html"><img src="~/Assets/content/assets/img/logo.png" alt="logo"></a>
                    </div>

                    <!-- Phần Search Top -->
                    <div class="search-top">
                        <div class="top-search">
                            <a href="#0"><i class="fas fa-search"></i></a>
                        </div>

                        <div class="search-top">
                            <form class="search-form" method="get"  action="@Url.Action("Search", "Product")">
                                <input value="@Request.QueryString["searchString"]" type="text" placeholder="Search here..." name="searchString">
                                <button type="submit" value="search"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="mobile-nav"></div>
                </div>

                    <!-- Phần Search Bar Top -->
                    <div class="col-lg-7 col-md-6 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <form method="get" action="@Url.Action("Search", "Product")" >
                                    <input value="@Request.QueryString["searchString"]" name="searchString" placeholder="Search Products Here....." type="search">
                                    <button class="btnn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>



                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">

                        <div class="sinlge-bar">
                            <a href="#" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar">
                            <a href="#" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
                        </div>

                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon">
                                <i class="fal fa-shopping-cart"></i>
                                <span class="total-count">
                                    @((Session["CartSession"] as List<Models.ViewModels.CartItem>)?.Sum(x => x.Quantity) ?? 0)
                                </span>
                            </a>

                            <div class="shopping-item" id="header-cart">

                                <div class="dropdown-cart-header">
                                    <span>@((Session["CartSession"] as List<Models.ViewModels.CartItem>)?.Sum(x => x.Quantity) ?? 0) Items</span>
                                    <a href="@Url.Action("Index", "Cart")">View Cart</a>

                                </div>

                                <ul class="shopping-list">
                                    @if (Session["CartSession"] is List<Models.ViewModels.CartItem> cart && cart.Any())
                                    {
                                        foreach (var item in cart)
                                        {
                                            <li>
                                                <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
                                                <a class="cart-img" href="#">
                                                    <img src="~/Assets/Img_Products/@item.ProductImg" alt="@item.ProductName" />
                                                </a>
                                                <h4><a href="#">@item.ProductName</a></h4>
                                                <p class="quantity">@item.Quantity x - <span class="amount">$@item.Price.ToString("F2")</span></p>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>Giỏ hàng trống</li>
                                    }
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="header-inner  shadow">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            <div class="d-flex">
                                <i class="flaticon-menu cat-heading-icon"></i>
                                <h3 class="cat-heading">CATEGORIES</h3>
                            </div>
                            <ul class="main-category hover-category">

                                <li class="main-mega">
                                    @Html.Action("CategoryMenu", "Menu")
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="menu-area">

                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                                            <li>
                                                <a href="#">User Account<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Order List", "Order_list", "Order")</li>
                                                    <li>@Html.ActionLink("Order Details", "Order_detail", "Order")</li>
                                                    <li>@Html.ActionLink("Add Address", "Add_address", "Order")</li>
                                                    <li>@Html.ActionLink("Address List", "AddressList", "Order")</li>
                                                    <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
                                                    <li>@Html.ActionLink("Edit Profile", "Edit_profile", "Account")</li>
                                                    <li>@Html.ActionLink("Support Tickets", "TicketList", "Support")</li>
                                                    <li>@Html.ActionLink("Ticket Details", "TicketDetail", "Support")</li>
                                                    <li>@Html.ActionLink("Wishlist", "Index", "Wishlist")</li>
                                                    <li>@Html.ActionLink("Track Order", "TrackOrder", "Order")</li>
                                                    <li>@Html.ActionLink("Payment Methods", "MethodList", "Payment")</li>
                                                    <li>@Html.ActionLink("Add Payment", "AddMethod", "Payment")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Vendor<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
                                                    <li>@Html.ActionLink("Products", "Product", "Admin")</li>
                                                    <li>@Html.ActionLink("Add Product", "AddProduct", "Admin")</li>
                                                    <li>@Html.ActionLink("All Orders", "Order_list", "Order")</li>
                                                    <li>@Html.ActionLink("Order Details", "Order_detail", "Order")</li>
                                                    <li>@Html.ActionLink("All Vendors", "AllVendor", "Admin")</li>
                                                    <li>@Html.ActionLink("Vendor Store", "VendorStore", "Admin")</li>
                                                    <li>@Html.ActionLink("Vendor Profile", "VendorProfile", "Admin")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                                    <li><a href="shop-list.html">Shop List</a></li>
                                                    <li><a href="shop-single.html">Shop Single</a></li>
                                                    <li><a href="shop-search.html">Shop Search</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="compare.html">Shop Compare</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Pages<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("About Us", "Index", "About")</li>
                                                    <li>@Html.ActionLink("Team", "Team", "About")</li>
                                                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                                    <li>@Html.ActionLink("Register", "Signup", "Account")</li>
                                                    <li><a href="forgot-password.html">Forgot Password</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li>@Html.ActionLink("Terms & Conditions", "Privacy", "Home")</li>
                                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                    <li><a href="return-policy.html">Return Policy</a></li>
                                                    <li><a href="mail-success.html">Mail Success</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                </ul>
                                            </li>

                                            <li>@Html.ActionLink("Blogs", "Index", "Blog")</li>

                                            <li>@Html.ActionLink("ContactUs", "Index", "Contact")</li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    

</header>
