
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - OnlineShop</title>
    @Html.Partial("_StylesPartical")

</head>
<body class="d-flex flex-column min-vh-100">

    <header class="header shop">

        @Html.Partial("_Header")
        @* ------ *@
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_Footer")
    @RenderSection("Scripts", required: false)
    @Html.Partial("_ScriptsPartial")


</body>

</html>
